# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# testing
/coverage
test-results.xml

# misc
.DS_Store
*.pem
npm-debug.log*

# env
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts
